<div class="w-100 d-flex align-self-stretch">
    <div class="main-content flex-grow-1 m-4 m-md-5 pt-5">
        <h1 class="mb-5">Создание дохода/расхода</h1>
        <select class="form-select mb-2">
            <option>Тип...</option>
            <option value="1" id="incomeSelected">Доход</option>
            <option value="2" id="expenseSelected">Расход</option>
        </select>
        <select class="form-select mb-2" id="records">
            <option>Категория...</option>
        </select>
        <input type="number" min="0" oninput="this.value = Math.abs(this.value)" class="input form-control mb-2" id="sumInput" placeholder="Сумма в $...">
        <input type="date" class="input form-control mb-2" id="dateInput" placeholder="Дата...">
        <textarea type="text" class="input form-control mb-4" id="commentInput" placeholder="Комментарий..."></textarea>
        <div class="new-category-action">
            <button type="button" class="btn btn-success" id="saveOperationButton">Создать</button>
            <button type="button" class="btn btn-danger" id="cancelOperationButton">Отмена</button>
        </div>
    </div>
</div>

